#mycarousel {
    position: relative;
    width: 1349px;
    max-height: 472px;
}
.carousel-inner>.item>a>img, .carousel-inner>.item>img, .img-responsive, .thumbnail a>img, .thumbnail>img{
    height: 472px;
}