#mycarousel {
    position: relative;
    width: 1349px;
    max-height: 472px;
}
.carousel-inner>.item>a>img, .carousel-inner>.item>img, .img-responsive, .thumbnail a>img, .thumbnail>img{
    height: 585px;
}
.row {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
    margin-left: -66em;
  }
  #row1{
    margin-left: 0em;
  }
  .btn-lg{
      margin-left: 22.7em
  }
  
  h1, h3 {
    text-align: center;
    font-family: Verdana, sans-serif;
  }
  
  @media (min-width: 638px) {
    
  }
  