#sidebar-wrapper {
    z-index: 1000;
    position: fixed;
    right: 10em;
    width: 250px;
    height: 100%;
    transform: translateX(250px);
    overflow-y: auto;
    background: #222;
    -webkit-transition: all 0.4s ease 0s;
    -moz-transition: all 0.4s ease 0s;
    -ms-transition: all 0.4s ease 0s;
    -o-transition: all 0.4s ease 0s;
    transition: all 0.4s ease 0s;
}

.sidebar-nav {
    position: absolute;
    top: 10em;
    width: 150px;
    margin: 0;
    padding: 0;
    list-style: none;
}

.sidebar-nav li {
    text-align: center;
    line-height: 40px;
}

.sidebar-nav li a {
    display: block;
    text-decoration: none;
    color: #999;
}

.sidebar-nav li a:hover {
    text-decoration: none;
    color: #fff;
    background: rgba(255, 255, 255, 0.2);
}

.sidebar-nav li a:active, .sidebar-nav li a:focus {
    text-decoration: none;
}

.sidebar-nav>.sidebar-brand {
    height: 55px;
    font-size: 18px;
    line-height: 55px;
}

.sidebar-nav>.sidebar-brand a {
    color: #999;
}

.sidebar-nav>.sidebar-brand a:hover {
    color: #fff;
    background: none;
}

#menu-toggle {
    position: absolute;
    z-index: 20;
    margin-top: -34px;
    margin-left: 43%;
}

#sidebar-wrapper.active {
    right: 200px;
    width: 200px;
    -webkit-transition: all 0.4s ease 0s;
    -moz-transition: all 0.4s ease 0s;
    -ms-transition: all 0.4s ease 0s;
    -o-transition: all 0.4s ease 0s;
    transition: all 0.4s ease 0s;
}

.toggle {
    margin: 5px 5px 0 0;
}

/* nav bar modal section */

#csharp {
    width: 100px;
    height: 100px;
    margin-top: -40px;
    margin-left: -34px;
}

#csshtml {
    margin-left: 63px;
    margin-top: -106px;
    width: 100px;
    height: 79px;
}

#net {
    margin-left: 146px;
    margin-top: -192px;
    width: 100px;
    height: 107px;
}
#home{
    margin-left: 1px;
    margin-top: 1px;
}
#aboutme{
    margin-left: -73em;
    margin-top: 1px;
}
#portfolio{
    margin-left: -70em;
    margin-top: 1px; 
}