:root {
    --white:#FFF;
    --green: #005C00;
    --red:#AF0009;
    --blue:#0A2C7B;
    --black: #000;

    --font-one: 'PT Sans Narrow', sans-serif;
    --font-two: 'Marck Script', cursive;
    --font-three: 'Rouge Script', cursive;
}