/* #menu-toggle {
    position: absolute;
    z-index: 20;
    margin-top: -34px;
    margin-left: 43%;
} */

.toggle {
    margin: 5px 5px 0 0;
}

/* nav bar modal section */

#csharp {
    width: 100px;
    height: 100px;
    margin-top: 0px;
    margin-left: em;
}

#csshtml {
    margin-left: 0px;
    margin-top: 0px;
    width: 100px;
    height: 79px;
}

#portfoliomodaltext {
    margin-left: -31.2em;
    text-align: center;
}

#net {
    margin-left: 0px;
    margin-top: 0px;
    width: 100px;
    height: 107px;
}

.modal-header {
    display: inline;
     /* margin-right: -15px;
    margin-left: -15px;  */
}
.text-center {
    text-align: center;
    margin-left: -30.6em;
}

#home {
    margin-left: 1px;
    margin-top: 1px;
}

#aboutme {
    margin-left: 45em;
    margin-top: 1px;
}

#portfolio {
    margin-left: 0em;
    margin-top: 1px;
}

.edsonnav {
    display: inline;
}

h4 {
    font-size: 12px;
}
.modal.fade .modal-dialog {
    top: 11.5em;
}